:root {
    --primary-blue: #3b82f6;
    --dark-bg: #121212;
    --dark-card: #1e1e1e;
    --text-gray: #a1a1aa;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0; 
    padding: 0;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

nav { 

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 30px; 
    background: white;
    border-bottom: 1px solid #333;
    color: black; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a { color: black; text-decoration: none; margin-left: 20px; font-weight: 500; }
.nav-center { font-size: 1.6rem; font-weight: 1000; letter-spacing: 3px; color: var(--primary-blue); }

.container { 
    width: 100%;
    margin: 0 auto;
    color: #111;
}

.footer-text { text-align: center; margin-top: 25px; color: var(--text-gray); font-size: 0.85rem; }
.footer-text a { color: var(--primary-blue); text-decoration: none; }